
<div fxLayout="row wrap" class="form-group">
  <div fxFlex.gt-sm="100" class="divide">
    <mat-card>
      <mat-card-title>Artefatos</mat-card-title>

      <a mat-fab color="accent" routerLink="/artefato/add" >
        <mat-icon aria-label="add">add</mat-icon>
      </a>
    <mat-card-content>
    <div class="table-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

<mat-table #table [dataSource]="dataSource" matSort  class="mat-cell">

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.nome | maxChar: 10}}</mat-cell>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="resourceName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Resource Name</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.resourceName | maxChar: 10}}</mat-cell>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="className">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Class Name</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.className | maxChar: 10}}</mat-cell>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="classFolder">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Class Folder</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.classFolder | maxChar: 10}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef >Actions</mat-header-cell>
      <mat-cell *matCellDef="let row"  >
 
        <button mat-mini-fab color="primary"routerLink="/artefato/edit/{{row.id}}">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button  mat-mini-fab   (click)="deleteItem(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container> 
 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
 
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
 

</mat-card-content>
</mat-card>
</div>
</div>

 